body {
    font-family: Angsana New;
    color:red;
}

.hotpink{
color:hotpink;
font-size: 36px;
text-align: center;
}
 
img {
    border: 0.2cm blue solid;
    width: 50%;
    box-sizing: border-box;
    padding: 1mm;
 }